body {
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin: 30px auto;
    width: 300px;
    border-radius: 4px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type=text], input[type=password] {
    display: block;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input[type=submit] {
    background: #008CBA;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 4px;
}

p {
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: #333;
}