<!DOCTYPE HTML>
<html>
    <head>
        <title>Salary Checker</title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    </head>
    <body>
        <h1>Salary Checker – Home page</h1>
        <form action="{{ url_for('login') }}" method="post">
            <label for="username">Enter your name:</label>
            <input type="text" id="username" name="username">


            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password">


            <input type="submit" value="Submit">
        </form>
    </body>
</html>