<!DOCTYPE HTML>
<html>
    <head>
        <title>Salary Checker</title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    </head>
    <body>
        <h1>Salary Checker – Your salary:</h1>
        <p>Your salary is: {{ salary }}</p>
        <p>Your next promotion date is: {{ next_promotion }}</p>
    </body>
</html>