<!DOCTYPE HTML>
<html>
    <head>
        <title>Salary Checker</title>
        <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    </head>
    <body>
        <h1>Salary Checker – Your token:</h1>
        <p>Your token is: {{ access_token }}</p>
        <form action="{{ url_for('salary') }}" method="get">
            <label for="username">Enter your name:</label>
            <input type="text" id="username" name="username">


            <label for="token">Enter your token:</label>
            <input type="password" id="token" name="token">


            <input type="submit" value="Submit">
        </form>
    </body>
</html>